/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
nav a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.btn {
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #0061ff;
}
.big-container {
    width: 80%;
    margin: auto;
}
.small-container {
    width: 70%;
    margin: auto;
}
.centering {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.float {
    float: left;
}
.text-right {
    text-align: right;
}
.col-50 {
    width: 50%;
}
.col-70 {
    width: 70%;
}
.col-30 {
    width: 30%;
}
.bus-col {
    width: calc((100% - 100px) / 3);
}
.col-66 {
    width: calc((100% / 3) * 2);
}
.col-33 {
    width: calc(100% / 3);
}
.col-55 {
    width: 55%;
}
.col-45 {
    width: 45%;
}
.border {
    border: 1px solid #D0D0D3;
}

/* Typo */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 55px;
    padding-top: 100px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}

/* Header */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    font-size: 12px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}
.head-nav,
.head-nav li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}
header li a {
    padding: 10px 10px;
    color: black;
}
header img {
    vertical-align: middle;
}

/* Main */

/* Hero */
.hero {
    margin-top: 80px;
    margin-bottom: 150px;
    background-color: #b4d0e7;
    font-size: 12px;
}
.col-70 img {
    width: 100%;
    margin-right: -20px;
}
.hero-sec {
    position: relative;
    top: 50px;
}
.col-30 p{
    padding-bottom: 30px;
}
.col-30 > div {
    font-size: 10px;
    padding: 15px 0px 45px 0px;
}
.col-30 i {
    font-size: 35px;
     color: black;
}
.col-30 a {
    display: inline-block;
}


/* Dropbox business section */
.radio-invoice label {
    margin-left: 5px;
    margin-right: 20px;
}
.radio-invoice {
    padding: 50px 0px 25px 0px;
}
.column {
    margin-bottom: 55px;
    min-height: 900px;
}
.center {
    margin: 0px 50px;
}
.bus-head {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #D0D0D3;
}
.bus-main {
    padding: 40px 20px;
}
.bus-main h4 {
    padding-top: 25px;
    padding-bottom: 15px;
}
.bus-main span {
    display: inline-block;
    color: #667583;
    padding-bottom: 55px;
}
.bus-main div {
    padding-bottom: 30px;
}
.bus-main .btn {
    margin: 50px 0px 35px 0px;
    width: 100%;
    text-align: center;
}
.bus-link {
    color: #0061ff;
}
.bus-underlined {
    display: inline-block;
    border-bottom: 1px solid #d0d0d3;
}
.bus-main li {
    padding-bottom: 15px;
}
.bus-main li i {
    font-size: 15px;
    color: #176fff;
}

.enterprise {
    width: 100%;
    margin-bottom: 150px;
}
.ente-bottom {
    padding: 30px;
}
.col-33 a {
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
}
.col-66 h4 {
    font-size: 12px;
    padding: 30px 0px 40px 0px;
}

/* Dropbox partner section */
.part-sec {
    margin-bottom: 100px;
}
.part-sec .col-45 {
    padding: 40px 0px 0px 40px;
}
.col-55 img{
    width: 100%;
}
.col-45 p {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 25px;
}
.col-45 .btn {
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* Dropbox business plus section */
.bus-sec-plus h2 {
    padding-bottom: 100px;
}
.col-bus-plus {
    width: calc((100% - 100px) / 3);
    float: left;
}
.col-bus-plus img {
    width: 100%;
}
.col-bus-plus p {
    padding-top: 40px;
}
.second-row-bus {
    margin: 120px 0px 210px 0px;
}

/* Dropbox business team */
.title-team {
    width: 50%;
}
.title-team a {
    display: inline-block;
    padding: 45px 0px;
    color: #0061ff;
}
.bus-team {
    height: auto;
    background-color: #f5f5f5;
}
.small-col-team {
    width: 30%;
    float: left;
}
.big-col-team {
    width: 40%;
    height: 100%;
    float: left;
}
.first-row,
.second-row {
    width: 100%;
}
.first-row > div,
.second-row > div {
    width: 50%;
    height: 100%;
    float: left;
}
.big-col-team div{
    width: 100%;
    height: 100%;
}
.back-green {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}
.back-blue {
    background-color: #0093ce;
}
.back-darkred {
    background-color: #61082b;
}
.back-lightred {
    background-color: #ff1c1c;
}
.back-red {
    background-color: #d5001f;
}
.back-darkblue {
    background-color: #0d2481;
}
.back-lightblue {
    background-color: #b4d0e7;
}
.back-yellow {
    background-color: #ffd830;
}
.back-green img {
    color: white;
}
.back-green,
.back-blue,
.back-darkred,
.back-lightred,
.back-red,
.back-darkblue,
.back-lightblue,
.back-yellow {
    position: relative;
    text-align: center;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.small-col-team img {
    width: 100%;
}

.back-big-col {
    padding: 50px;
    height: 100%;
}
.back-big-col img {
    height: 50px;
}
.back-big-col hr {
    color: #e6e6e7;
    width: 15%;
    margin-top: 30px;
}
.back-big-col p {
    padding-top: 50px;
}

/* Dropbox business company */
.bus-comp {
    background-color: #b4d0e7;
    padding: 130px 0px;
}
.col-left-comp {
    width: 40%;
    float: left;
    color: #61082b;
}
.col-right-comp {
    width: 60%;
    float: left;
    text-align: right;
}
.col-right-comp a {
    background-color: white;
    color: black;
    width: 50%;
    text-align: center;
}

/* FAQ */
.faq .small-container {
    padding: 130px 0px;
}
.faq h2 {
    padding-bottom: 55px;
}
.col-left-faq {
    width: 70%;
    float: left;
}
.col-right-faq {
    width: 30%;
    float: left;
    text-align: right;
}
.faq p {
    font-weight: 700;
}
.faq li {
    padding: 35px 0px;
    border-bottom: 2px solid #dcdcde;
}
.faq li:first-child {
    border-top: 2px solid #dcdcde;
}
.faq a {
    padding-right: 40px;
    font-size: 20px;
    color: black;
}

/* Footer */
footer {
    background-color: black;
    padding-top: 100px;
}
.col-footer {
    width: 20%;
    float: left;
    color: white;
}
.col-footer ul {
    padding: 25px 0px 100px 0px;
}
.col-footer li {
    padding-bottom: 13px;
}
.col-footer a {
    color: white;
    text-decoration: none;
}
.footer-bottom {
    width: 10%;
    padding: 50px 0px 40px 0px;
    color: #999999;
    border-top: 1px solid #999999;
}
.fa-globe-americas {
    font-size: 15px;
}

/* Effetti hover */
header li a:hover {
    background-color: #b4d0e7;
    border-radius: 20px;
}
.btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px black;
}
.hero-sec-left i:hover {
    font-size: 40px;
}
footer a:hover {
    color: #b4d0e7;
}
.radio-invoice input:hover {
    transform: scale(1.5);
}