/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
nav a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.btn {
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #0061ff;
}
.big-container {
    width: 80%;
    margin: auto;
}
.small-container {
    width: 70%;
    margin: auto;
}
.centering {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.float {
    float: left;
}
.text-right {
    text-align: right;
}

/* Width */
.w-50 {
    width: 50%;
}
.w-70 {
    width: 70%;
}
.w-30 {
    width: 30%;
}
.w-66 {
    width: calc((100% / 3) * 2);
}
.w-33 {
    width: calc(100% / 3);
}
.w-55 {
    width: 55%;
}
.w-45 {
    width: 45%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-100 {
    width: 100%;
}
.w-20 {
    width: 20%;
}

/* Typo */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 55px;
    padding-top: 100px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}

/* Header */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    font-size: 12px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}
.head-nav,
.head-nav li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}
header li a {
    padding: 10px 10px;
    color: black;
}
header img {
    vertical-align: middle;
}

/* Main */

/* Hero */
.hero {
    margin-top: 80px;
    margin-bottom: 150px;
    background-color: #b4d0e7;
    font-size: 12px;
}
.hero .w-70 img {
    width: 100%;
}
.hero-sec {
    position: relative;
    top: 50px;
}
.hero-sec .w-30 p{
    padding-bottom: 30px;
}
.hero-sec .w-30 > div {
    font-size: 10px;
    padding: 15px 0px 45px 0px;
}
.hero-sec .w-30 i {
    font-size: 35px;
     color: black;
}
.hero-sec .w-30 a {
    display: inline-block;
}


/* Dropbox business section */
.radio-invoice label {
    margin-left: 5px;
    margin-right: 20px;
}
.radio-invoice {
    padding: 50px 0px 25px 0px;
}
.column {
    margin-bottom: 55px;
}
.column .bus-col {
    min-height: 900px;
}
.bus-col {
    width: calc((100% - 10%) / 3);
}
.center {
    margin: 0% 5%;
}
.border {
    border: 1px solid #D0D0D3;
}
.bus-head {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #D0D0D3;
}
.bus-main {
    padding: 40px 20px;
}
.bus-main h4 {
    padding-top: 25px;
    padding-bottom: 15px;
}
.bus-main span {
    display: inline-block;
    color: #667583;
    padding-bottom: 55px;
}
.bus-main div {
    padding-bottom: 30px;
}
.bus-main .btn {
    margin: 50px 0px 35px 0px;
    width: 100%;
    text-align: center;
}
.bus-link {
    color: #0061ff;
}
.bus-underlined {
    display: inline-block;
    border-bottom: 1px solid #d0d0d3;
}
.bus-main li {
    padding-bottom: 15px;
}
.bus-main li i {
    font-size: 15px;
    color: #176fff;
}

.enterprise {
    width: 100%;
    margin-bottom: 150px;
}
.ente-bottom {
    padding: 30px;
}
.ente-bottom .w-33 a {
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
}
.ente-bottom .w-66 h4 {
    font-size: 12px;
    padding: 30px 0px 40px 0px;
}

/* Dropbox partner section */
.part-sec {
    margin-bottom: 100px;
}
.part-sec .w-45 {
    padding: 40px 0px 0px 40px;
}
.part-sec .w-55 img{
    width: 100%;
}
.part-sec .w-45 p {
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 25px;
}
.part-sec .w-45 .btn {
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* Dropbox business plus section */
.bus-sec-plus h2 {
    padding-bottom: 100px;
}
.bus-col img {
    width: 100%;
}
.bus-col p {
    padding-top: 40px;
}
.second-row-bus {
    margin: 120px 0px 210px 0px;
}

/* Dropbox business team section */
.title-team a {
    display: inline-block;
    padding: 45px 0px;
    color: #0061ff;
}
.bus-team {
    background-color: #f5f5f5;
}
.back-green {
    background-color: #a2d39b;
}
.back-blue {
    background-color: #0093ce;
}
.back-darkred {
    background-color: #61082b;
}
.back-lightred {
    background-color: #ff1c1c;
}
.back-red {
    background-color: #d5001f;
}
.back-darkblue {
    background-color: #0d2481;
}
.back-lightblue {
    background-color: #b4d0e7;
}
.back-yellow {
    background-color: #ffd830;
}
.back-green,
.back-blue,
.back-darkred,
.back-lightred,
.back-red,
.back-darkblue,
.back-lightblue,
.back-yellow {
    position: relative;
    text-align: center;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.bus-team .w-30 img {
    width: 100%;
}
.bus-team .w-40 {
    padding: 50px;
    height: 100%;
}
.bus-team .w-40 img {
    height: 50px;
}
.bus-team .w-40 hr {
    color: #e6e6e7;
    width: 15%;
    margin-top: 30px;
}
.bus-team .w-40 p {
    padding-top: 50px;
}

/* Dropbox business company section */
.bus-comp {
    background-color: #b4d0e7;
    padding: 130px 0px;
}
.bus-comp .w-40 h2 {
    color: #61082b;
}
.bus-comp .w-60 a {
    background-color: white;
    color: black;
    width: 50%;
    text-align: center;
}

/* FAQ section */
.faq .small-container {
    padding: 130px 0px;
}
.faq h2 {
    padding-bottom: 55px;
}
.faq p {
    font-weight: 700;
}
.faq li {
    padding: 35px 0px;
    border-bottom: 2px solid #dcdcde;
    position: relative;
}
.faq li:first-child {
    border-top: 2px solid #dcdcde;
}
.faq a {
    padding-right: 40px;
    font-size: 20px;
    color: black;
}
.faq__text-hover {
    padding-top: 20px;
    color: #637381;
    display: none;
}
.faq__text-hover a {
    font-size: 12px;
    padding-right: 0;
    color: #637381;
}
.fa-angle-down {
    position: absolute;
    right: 40px;
    top: 35px;
}
.fa-angle-up {
    position: absolute;
    right: 40px;
    top: 35px;
    display: none;
}

/* Footer */
footer {
    background-color: black;
    padding-top: 100px;
}
.footer-top {
    color: white;
}
footer ul {
    padding: 25px 0px 100px 0px;
}
footer li {
    padding-bottom: 13px;
}
footer a {
    color: white;
    text-decoration: none;
}
.footer-bottom {
    width: 10%;
    padding: 50px 0px 40px 0px;
    color: #999999;
    border-top: 1px solid #999999;
}
.fa-globe-americas {
    font-size: 15px;
}

/* Effetti hover */
header li a:hover {
    background-color: #b4d0e7;
    border-radius: 20px;
}
.btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px black;
}
.hero-sec .w-30 i:hover {
    font-size: 40px;
}
footer a:hover {
    color: #b4d0e7;
}
.radio-invoice input:hover {
    transform: scale(1.5);
}
.bus-team-sec .back-green:hover {
    border: 10px solid #b9e9b4;
}
.bus-team-sec .back-darkred:hover {
    border: 10px solid #851340;
}
.bus-team-sec .back-blue:hover {
    border: 10px solid #43b2df;
}
.bus-team-sec .back-lightred:hover {
    border: 10px solid #ff5f5f;
}
.bus-team-sec .back-red:hover {
    border: 10px solid #d84b60;
}
.bus-team-sec .back-darkblue:hover {
    border: 10px solid #263c91;
}
.bus-team-sec .back-lightblue:hover {
    border: 10px solid #bed2e2;
}
.bus-team-sec .back-yellow:hover {
    border: 10px solid #fde472;
}
.li-hover:hover .faq__text-hover {
    display: block;
}
.li-hover:hover .fa-angle-down{
    display: none;
}
.li-hover:hover .fa-angle-up{
    display: block;
}